.bootstrap-table .table, .bootstrap-table .table > tbody > tr > th, .bootstrap-table .table > tfoot > tr > th, .bootstrap-table .table > thead > tr > td, .bootstrap-table .table > tbody > tr > td, .bootstrap-table .table > tfoot > tr > td{
    padding: 4px 8px 4px 8px !important;
}
.bootstrap-table{
    padding-left: 20px;
    padding-right: 20px;
}
.fixed-table-container{
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner{
    padding: 4px 8px 4px 8px !important;
}

.bootstrap-table .fixed-table-footer tbody > tr > td {
    padding: 0 !important;
}

.fixed-table-footer .th-inner p{
    margin: 0;
}
.fixed-table-footer .th-inner .btn-sm{
    padding:3px 5px 3px 5px;
}

.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns{
    margin-bottom: 5px;
    margin-top : 5px;
}

.navbar{
    margin-bottom: 0;
}