<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />-->
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../../lib/simple-line-icons/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../lib/app/css/app.min.css" type="text/css" />
    <link rel="stylesheet" href="../../lib/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="../../lib/webo/css/ui.css">
    </head>
<body>
<div>
    <p class="toolbar">
        <a id="add_item" class="create btn btn-primary">新建</a>
    </p>
    <table id="item_table"
           data-show-refresh="true"
           data-show-columns="true"
           data-page-size="25"
           data-row-style="rowStyleOvertime"
           data-toolbar=".toolbar">
        <thead>
            <tr>
                <th data-field="action"
                    data-align="center"
                    data-formatter="actionFormatter"
                    data-events="actionEvents"
                    data-sortable="false"
                    data-width="75px">  [ 操作 ]  </th>
                <th data-field="sn"                     data-visible="false">编号</th>
                <th data-field="category"               >类别</th>
                <th data-field="productname"            >商品名称</th>
                <th data-field="brand"                  >品牌</th>
                <th data-field="model"                  data-formatter="modelFormatter">型号</th>
                <th data-field="power"                  >功率(KW)</th>
                <th data-field="num" data-width="50px" data-align="right">数量</th>
                <th data-field="placedate"              >下单日期</th>
                <th data-field="requireddate"           >需用日期</th>
                <th data-field="requireddepartment"     >申请部门</th>
                <th data-field="unitprice"              >单价</th>
                <th data-field="productprice"           >参考价</th>
                <th data-field="totalprice"             >总价</th>
                <th data-field="freightprice"           >运费</th>
                <th data-field="suppliername"            data-formatter="supplierFormatter">供应商</th>
                <th data-field="buyer"                  >采购人</th>
                <th data-field="orderdate"              >订货日期</th>
                <th data-field="predictdeliverydate"    >预计发货日期</th>
                <th data-field="actualdeliverydate"     >实际发货日</th>
                <th data-field="arrivaldate"            >到货日期</th>
                <th data-field="godowndate"             >入库日期</th>
                <th data-field="paymentamount"          data-visible="false" >付款金额</th>
                <th data-field="paymentdate"            data-visible="false" >付款日期</th>
                <th data-field="mark"                   >备注</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h4 style="padding: 20px">你确定要删除本行吗？</h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-default">删除</button>
            </div>
        </div>
    </div>
</div>
<script src="../../lib/app/js/app.min.js"></script>
<script src="../../lib/bootstrap-table/bootstrap-table.js"></script>
<script src="../../lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../../lib/moment/moment.js"></script>
<script src="../../lib/webo/js/util.js"></script>
<script src="../../lib/webo/js/ui.js"></script>
<script src="../../lib/webo/js/purchase.js"></script>
<script>
    var $table = $("#item_table")
    $(function(){
        $table.bootstrapTable({url:"{{.listUrl}}", method:"post", sidePagination:"server", pagination:true,
            height:getTableHeight(), sortName:"placedate", sortOrder:"desc",
            fixedColumns: true,fixedNumber:1});
        $("#add_item").on("click", function(){
            top.showTopModal({url:"{{.addUrl}}", refreshContent:refreshContent});
        })
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getTableHeight()
            });
        });
    });
    function refreshContent(options){
        top.hideTopModal()
        $table.bootstrapTable("refresh")
    }
    function actionFormatter(value, row) {
        return [
            '<a class="update" href="javascript:" title="修改" style="margin-right: 5px;"><i class="icon-note text-primary-dker"></i></a>',
            wbSprintf('<a class="file" href="/static/files/purchase/%s" target="_blank" title="附件" style="margin-right: 5px;"><i class="icon-tag text-primary-dker"></i></a>', row.sn),
            '<a class="remove" href="javascript:" title="修改"><i class="icon-ban text-primary-dker"></i></a>'
        ].join('');
    }
    window.actionEvents = {
        'click .update': function (e, value, row) {
            top.showTopModal({url:"{{.updateUrl}}?sn=" + row.sn, refreshContent:refreshContent});
        },
        'click .remove': function (e, value, row) {
            $.ajax({
                url: "/item/delete/purchase?sn=" + row.sn,
                type: 'post',
                success: function () {
                    showAlert('Delete item successful!', 'success');
                    $table.bootstrapTable('refresh');
                },
                error: function () {
                    showAlert('Delete item error!', 'danger');
                }
            })
        }
    }
</script>
</body>
</html>